In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.HDFStore('./metr-la.h5')['/df']
df

,773869,767541,767542,717447,717446,717445,773062,767620,737529,717816,...,772167,769372,774204,769806,717590,717592,717595,772168,718141,769373
2012-03-01 00:00:00,64.375000,67.625000,67.125000,61.500000,66.875000,68.750000,65.125000,67.125000,59.625000,62.750000,...,45.625000,65.500000,64.500000,66.428571,66.875000,59.375000,69.000000,59.250000,69.000000,61.875000
2012-03-01 00:05:00,62.666667,68.555556,65.444444,62.444444,64.444444,68.111111,65.000000,65.000000,57.444444,63.333333,...,50.666667,69.875000,66.666667,58.555556,62.000000,61.111111,64.444444,55.888889,68.444444,62.875000
2012-03-01 00:10:00,64.000000,63.750000,60.000000,59.000000,66.500000,66.250000,64.500000,64.250000,63.875000,65.375000,...,44.125000,69.000000,56.500000,59.250000,68.125000,62.500000,65.625000,61.375000,69.857143,62.000000
2012-03-01 00:15:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2012-03-01 00:20:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-06-27 23:35:00,65.000000,65.888889,68.555556,61.666667,0.000000,54.555556,62.444444,63.333333,59.222222,65.333333,...,52.888889,69.000000,65.111111,55.666667,66.333333,62.444444,66.777778,64.888889,69.666667,62.333333
2012-06-27 23:40:00,61.375000,65.625000,66.500000,62.750000,0.000000,50.500000,62.000000,67.000000,65.250000,67.125000,...,54.000000,69.250000,60.125000,60.500000,67.250000,59.375000,66.000000,61.250000,69.000000,62.000000
2012-06-27 23:45:00,67.000000,59.666667,69.555556,61.000000,0.000000,44.777778,64.222222,63.777778,59.777778,57.666667,...,51.333333,67.888889,64.333333,57.000000,66.000000,62.666667,68.666667,63.333333,67.444444,61.222222
2012-06-27 23:50:00,66.750000,62.250000,66.000000,59.625000,0.000000,53.000000,64.285714,64.125000,60.875000,66.250000,...,51.125000,69.375000,61.625000,60.500000,65.625000,66.375000,69.500000,63.000000,67.875000,63.500000
2012-06-27 23:55:00,65.111111,66.888889,66.777778,61.222222,0.000000,49.555556,65.777778,65.111111,63.000000,61.666667,...,56.000000,67.444444,64.888889,60.888889,64.222222,66.444444,68.444444,63.555556,68.666667,61.777778

In [3]:
timeslots = pd.date_range('2012-03-01 00:00:00', '2012-06-27 23:55:00', freq='5min')
print(len(timeslots))
days = pd.date_range('2012-03-01 00:00:00', '2012-06-27 23:55:00', freq='1D')
print(len(days), 0.8*len(days))
train_days = pd.date_range('2012-03-01 00:00:00', '2012-06-03 23:55:00', freq='1D')
print(len(train_days))
print(len(timeslots), timeslots[0], timeslots[-1])
list1 = [t.strftime('%Y-%m-%d %H:%M:%S')  for t in timeslots]
print(len(list1))
list2 = [pd.to_datetime(str(x)).strftime('%Y-%m-%d %H:%M:%S')  for x in df.index.values]
print(len(list2))
print(set(list1) - set(list2))

34272
119 95.2
95
34272 2012-03-01 00:00:00 2012-06-27 23:55:00
34272
34272
set()

In [4]:
data = df.stack().reset_index()
data.columns = ['timestamp', 'sensorid', 'speed']
data.dtypes

timestamp    datetime64[ns]
sensorid             object
speed               float64
dtype: object

In [5]:
data['timeinday'] = (data['timestamp'].values - data['timestamp'].values.astype("datetime64[D]")) / np.timedelta64(1, "D")
data

                  timestamp sensorid      speed  timeinday
0       2012-03-01 00:00:00   773869  64.375000   0.000000
1       2012-03-01 00:00:00   767541  67.625000   0.000000
2       2012-03-01 00:00:00   767542  67.125000   0.000000
3       2012-03-01 00:00:00   717447  61.500000   0.000000
4       2012-03-01 00:00:00   717446  66.875000   0.000000
...                     ...      ...        ...        ...
7094299 2012-06-27 23:55:00   717592  66.444444   0.996528
7094300 2012-06-27 23:55:00   717595  68.444444   0.996528
7094301 2012-06-27 23:55:00   772168  63.555556   0.996528
7094302 2012-06-27 23:55:00   718141  68.666667   0.996528
7094303 2012-06-27 23:55:00   769373  61.777778   0.996528

[7094304 rows x 4 columns]

In [6]:
data['timestamp'] = pd.to_datetime(data['timestamp'])
data['weekdaytime'] = data['timestamp'].dt.weekday * 288 + (data['timestamp'].dt.hour * 60 + data['timestamp'].dt.minute)//5
data

                  timestamp sensorid      speed  timeinday  weekdaytime
0       2012-03-01 00:00:00   773869  64.375000   0.000000          864
1       2012-03-01 00:00:00   767541  67.625000   0.000000          864
2       2012-03-01 00:00:00   767542  67.125000   0.000000          864
3       2012-03-01 00:00:00   717447  61.500000   0.000000          864
4       2012-03-01 00:00:00   717446  66.875000   0.000000          864
...                     ...      ...        ...        ...          ...
7094299 2012-06-27 23:55:00   717592  66.444444   0.996528          863
7094300 2012-06-27 23:55:00   717595  68.444444   0.996528          863
7094301 2012-06-27 23:55:00   772168  63.555556   0.996528          863
7094302 2012-06-27 23:55:00   718141  68.666667   0.996528          863
7094303 2012-06-27 23:55:00   769373  61.777778   0.996528          863

[7094304 rows x 5 columns]

In [7]:
df_train = data[(data.timestamp >= '2012-03-01 00:00:00') & (data.timestamp <= '2012-06-03 23:55:00')]
df_train = df_train[['sensorid', 'weekdaytime', 'speed']]
df_train

        sensorid  weekdaytime      speed
0         773869          864  64.375000
1         767541          864  67.625000
2         767542          864  67.125000
3         717447          864  61.500000
4         717446          864  66.875000
...          ...          ...        ...
5663515   717592         2015  60.444444
5663516   717595         2015  68.777778
5663517   772168         2015  63.333333
5663518   718141         2015  68.666667
5663519   769373         2015  62.888889

[5663520 rows x 3 columns]

In [8]:
def get_mean_without_null_values(data, null_val=0.):
    return data[data != null_val].mean()
df_train_avg = df_train.groupby(['sensorid', 'weekdaytime']).aggregate({'speed': get_mean_without_null_values}).reset_index()
df_train_avg

       sensorid  weekdaytime      speed
0        716328            0  66.794444
1        716328            1  66.896991
2        716328            2  66.592923
3        716328            3  66.475505
4        716328            4  66.430556
...         ...          ...        ...
417307   774204         2011  64.847222
417308   774204         2012  65.797980
417309   774204         2013  64.006313
417310   774204         2014  64.577381
417311   774204         2015  64.105655

[417312 rows x 3 columns]

In [9]:
data_plus = pd.merge(data, df_train_avg, on=['sensorid', 'weekdaytime'], suffixes=(None, '_y'))
data_plus

,timestamp,sensorid,speed,timeinday,weekdaytime,speed_y
0,2012-03-01 00:00:00,773869,64.375000,0.000000,864,63.132937
1,2012-03-08 00:00:00,773869,66.777778,0.000000,864,63.132937
2,2012-03-15 00:00:00,773869,66.750000,0.000000,864,63.132937
3,2012-03-22 00:00:00,773869,59.666667,0.000000,864,63.132937
4,2012-03-29 00:00:00,773869,64.444444,0.000000,864,63.132937
...,...,...,...,...,...,...
7094299,2012-05-30 23:55:00,769373,62.444444,0.996528,863,61.062118
7094300,2012-06-06 23:55:00,769373,58.444444,0.996528,863,61.062118
7094301,2012-06-13 23:55:00,769373,63.500000,0.996528,863,61.062118
7094302,2012-06-20 23:55:00,769373,61.250000,0.996528,863,61.062118
7094303,2012-06-27 23:55:00,769373,61.777778,0.996528,863,61.062118

In [10]:
sensorid_list = df.columns
timeslices = df.index
mux = pd.MultiIndex.from_product([timeslices, sensorid_list],names=['timestamp', 'sensorid'])
data_plus = data_plus.set_index(['timestamp', 'sensorid']).reindex(mux).reset_index()
data_plus = data_plus[['timestamp', 'sensorid', 'speed', 'timeinday', 'speed_y']]
data_plus

                  timestamp sensorid      speed  timeinday    speed_y
0       2012-03-01 00:00:00   773869  64.375000   0.000000  63.132937
1       2012-03-01 00:00:00   767541  67.625000   0.000000  64.867063
2       2012-03-01 00:00:00   767542  67.125000   0.000000  66.170635
3       2012-03-01 00:00:00   717447  61.500000   0.000000  61.943452
4       2012-03-01 00:00:00   717446  66.875000   0.000000  65.241071
...                     ...      ...        ...        ...        ...
7094299 2012-06-27 23:55:00   717592  66.444444   0.996528  62.377595
7094300 2012-06-27 23:55:00   717595  68.444444   0.996528  66.349054
7094301 2012-06-27 23:55:00   772168  63.555556   0.996528  64.207723
7094302 2012-06-27 23:55:00   718141  68.666667   0.996528  66.785409
7094303 2012-06-27 23:55:00   769373  61.777778   0.996528  61.062118

[7094304 rows x 5 columns]

In [11]:
np.array_equal(data_plus['speed'].values.reshape(-1, 207), df.values)

True

In [12]:
store = pd.HDFStore("metr-la-plus.h5", 'w')
store.put('/df', data_plus)

In [13]:
df_reload = pd.HDFStore('../METRLA/metr-la-plus.h5')['/df']
df_reload

                  timestamp sensorid      speed  timeinday    speed_y
0       2012-03-01 00:00:00   773869  64.375000   0.000000  63.132937
1       2012-03-01 00:00:00   767541  67.625000   0.000000  64.867063
2       2012-03-01 00:00:00   767542  67.125000   0.000000  66.170635
3       2012-03-01 00:00:00   717447  61.500000   0.000000  61.943452
4       2012-03-01 00:00:00   717446  66.875000   0.000000  65.241071
...                     ...      ...        ...        ...        ...
7094299 2012-06-27 23:55:00   717592  66.444444   0.996528  62.377595
7094300 2012-06-27 23:55:00   717595  68.444444   0.996528  66.349054
7094301 2012-06-27 23:55:00   772168  63.555556   0.996528  64.207723
7094302 2012-06-27 23:55:00   718141  68.666667   0.996528  66.785409
7094303 2012-06-27 23:55:00   769373  61.777778   0.996528  61.062118

[7094304 rows x 5 columns]

In [14]:
np.array_equal(df_reload['speed'].values.reshape(-1, 207), df.values)

True