In [2]:
import pandas as pd
import numpy as np
import datetime

In [24]:
df = pd.HDFStore('./pems-bay.h5')['/speed']
df

sensor_id,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
2017-01-01 00:00:00,71.4,67.8,70.5,67.4,68.8,66.6,66.8,68.0,66.8,69.0,...,68.8,67.9,68.8,68.0,69.2,68.9,70.4,68.8,71.1,68.0
2017-01-01 00:05:00,71.6,67.5,70.6,67.5,68.7,66.6,66.8,67.8,66.5,68.2,...,68.4,67.3,68.4,67.6,70.4,68.8,70.1,68.4,70.8,67.4
2017-01-01 00:10:00,71.6,67.6,70.2,67.4,68.7,66.1,66.8,67.8,66.2,67.8,...,68.4,67.4,68.4,67.5,70.2,68.3,69.8,68.4,70.5,67.9
2017-01-01 00:15:00,71.1,67.5,70.3,68.0,68.5,66.7,66.6,67.7,65.9,67.8,...,68.5,67.5,68.5,67.5,70.4,68.7,70.2,68.4,70.8,67.6
2017-01-01 00:20:00,71.7,67.8,70.2,68.1,68.4,66.9,66.1,67.7,66.1,67.8,...,68.5,67.7,68.5,67.4,69.6,69.1,70.0,68.4,71.0,67.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-30 23:35:00,70.9,66.3,68.4,61.0,61.8,66.9,66.0,67.4,65.4,69.3,...,64.6,66.8,64.7,61.1,68.4,61.4,70.5,68.2,71.6,66.2
2017-06-30 23:40:00,71.3,66.6,68.7,60.9,62.0,66.2,66.5,68.2,64.9,69.1,...,65.1,67.3,64.8,60.8,69.8,62.2,69.4,68.6,71.6,68.4
2017-06-30 23:45:00,71.4,66.9,68.1,61.1,62.0,66.7,65.8,68.2,64.2,69.1,...,64.9,66.5,64.6,61.3,69.5,63.8,70.6,68.4,71.6,66.6
2017-06-30 23:50:00,72.2,66.5,68.0,61.1,62.5,65.8,67.1,68.3,64.0,67.3,...,64.1,65.9,64.8,61.3,69.6,64.2,70.2,68.7,71.6,68.4
2017-06-30 23:55:00,71.5,66.2,68.4,61.5,62.8,66.1,67.7,68.4,64.9,68.0,...,64.3,66.5,64.8,60.9,70.9,63.4,70.3,68.7,71.6,68.0

In [34]:
timeslots = pd.date_range('2017-01-01 00:00:00', '2017-06-30 23:55:00', freq='5min')
print(len(timeslots))
days = pd.date_range('2017-01-01 00:00:00', '2017-06-30 23:55:00', freq='1D')
print(len(days), 0.8*len(days))
train_days = pd.date_range('2017-01-01 00:00:00', '2017-05-24 23:55:00', freq='1D')
print(len(train_days))
print(len(timeslots), timeslots[0], timeslots[-1])
list1 = [t.strftime('%Y-%m-%d %H:%M:%S')  for t in timeslots]
print(len(list1))
list2 = [pd.to_datetime(str(x)).strftime('%Y-%m-%d %H:%M:%S')  for x in df.index.values]
print(len(list2))
print(set(list1) - set(list2))

52128
181 144.8
144
52128 2017-01-01 00:00:00 2017-06-30 23:55:00
52128
52116
{'2017-03-12 02:55:00', '2017-03-12 02:35:00', '2017-03-12 02:50:00', '2017-03-12 02:20:00', '2017-03-12 02:15:00', '2017-03-12 02:00:00', '2017-03-12 02:05:00', '2017-03-12 02:45:00', '2017-03-12 02:25:00', '2017-03-12 02:30:00', '2017-03-12 02:40:00', '2017-03-12 02:10:00'}

In [36]:
data = df.stack().reset_index()
data.columns = ['timestamp', 'sensorid', 'speed']
data['timeinday'] = (data['timestamp'].values - data['timestamp'].values.astype("datetime64[D]")) / np.timedelta64(1, "D")
data['timestamp'] = pd.to_datetime(data['timestamp'])
data['weekdaytime'] = data['timestamp'].dt.weekday * 288 + (data['timestamp'].dt.hour * 60 + data['timestamp'].dt.minute)//5
data

                   timestamp  sensorid  speed  timeinday  weekdaytime
0        2017-01-01 00:00:00    400001   71.4   0.000000         1728
1        2017-01-01 00:00:00    400017   67.8   0.000000         1728
2        2017-01-01 00:00:00    400030   70.5   0.000000         1728
3        2017-01-01 00:00:00    400040   67.4   0.000000         1728
4        2017-01-01 00:00:00    400045   68.8   0.000000         1728
...                      ...       ...    ...        ...          ...
16937695 2017-06-30 23:55:00    413845   63.4   0.996528         1439
16937696 2017-06-30 23:55:00    413877   70.3   0.996528         1439
16937697 2017-06-30 23:55:00    413878   68.7   0.996528         1439
16937698 2017-06-30 23:55:00    414284   71.6   0.996528         1439
16937699 2017-06-30 23:55:00    414694   68.0   0.996528         1439

[16937700 rows x 5 columns]

In [37]:
df_train = data[(data.timestamp >= '2017-01-01 00:00:00') & (data.timestamp <= '2017-05-24 23:55:00')]
df_train

                   timestamp  sensorid  speed  timeinday  weekdaytime
0        2017-01-01 00:00:00    400001   71.4   0.000000         1728
1        2017-01-01 00:00:00    400017   67.8   0.000000         1728
2        2017-01-01 00:00:00    400030   70.5   0.000000         1728
3        2017-01-01 00:00:00    400040   67.4   0.000000         1728
4        2017-01-01 00:00:00    400045   68.8   0.000000         1728
...                      ...       ...    ...        ...          ...
13474495 2017-05-24 23:55:00    413845   61.4   0.996528          863
13474496 2017-05-24 23:55:00    413877   70.1   0.996528          863
13474497 2017-05-24 23:55:00    413878   67.6   0.996528          863
13474498 2017-05-24 23:55:00    414284   70.5   0.996528          863
13474499 2017-05-24 23:55:00    414694   65.6   0.996528          863

[13474500 rows x 5 columns]

In [38]:
df_train = df_train[['sensorid', 'weekdaytime', 'speed']]
def get_mean_without_null_values(data, null_val=0.):
        return data[data != null_val].mean()
df_train_avg = df_train.groupby(['sensorid', 'weekdaytime']).aggregate({'speed': get_mean_without_null_values}).reset_index()
df_train_avg

        sensorid  weekdaytime      speed
0         400001            0  71.557143
1         400001            1  71.547619
2         400001            2  71.390476
3         400001            3  71.228571
4         400001            4  71.338095
...          ...          ...        ...
655195    414694         2011  67.571429
655196    414694         2012  67.728571
655197    414694         2013  67.895238
655198    414694         2014  67.795238
655199    414694         2015  67.638095

[655200 rows x 3 columns]

In [39]:
data_his = pd.merge(data, df_train_avg, on=['sensorid', 'weekdaytime'], suffixes=(None, '_y'))
data_his

,timestamp,sensorid,speed,timeinday,weekdaytime,speed_y
0,2017-01-01 00:00:00,400001,71.4,0.000000,1728,71.504762
1,2017-01-08 00:00:00,400001,71.6,0.000000,1728,71.504762
2,2017-01-15 00:00:00,400001,71.6,0.000000,1728,71.504762
3,2017-01-22 00:00:00,400001,71.4,0.000000,1728,71.504762
4,2017-01-29 00:00:00,400001,71.8,0.000000,1728,71.504762
...,...,...,...,...,...,...
16937695,2017-05-27 23:55:00,414694,68.4,0.996528,1727,67.755000
16937696,2017-06-03 23:55:00,414694,68.1,0.996528,1727,67.755000
16937697,2017-06-10 23:55:00,414694,67.9,0.996528,1727,67.755000
16937698,2017-06-17 23:55:00,414694,67.4,0.996528,1727,67.755000
16937699,2017-06-24 23:55:00,414694,67.9,0.996528,1727,67.755000

In [40]:
sensorid_list = df.columns
timeslices = df.index
mux = pd.MultiIndex.from_product([timeslices, sensorid_list], names=['timestamp', 'sensorid'])
data_his = data_his.set_index(['timestamp', 'sensorid']).reindex(mux).reset_index()
data_his = data_his[['timestamp', 'sensorid', 'speed', 'timeinday', 'speed_y']]
data_his

                   timestamp  sensorid  speed  timeinday    speed_y
0        2017-01-01 00:00:00    400001   71.4   0.000000  71.504762
1        2017-01-01 00:00:00    400017   67.8   0.000000  65.323810
2        2017-01-01 00:00:00    400030   70.5   0.000000  67.128571
3        2017-01-01 00:00:00    400040   67.4   0.000000  65.885714
4        2017-01-01 00:00:00    400045   68.8   0.000000  68.100000
...                      ...       ...    ...        ...        ...
16937695 2017-06-30 23:55:00    413845   63.4   0.996528  62.295000
16937696 2017-06-30 23:55:00    413877   70.3   0.996528  69.615000
16937697 2017-06-30 23:55:00    413878   68.7   0.996528  67.890000
16937698 2017-06-30 23:55:00    414284   71.6   0.996528  70.210000
16937699 2017-06-30 23:55:00    414694   68.0   0.996528  67.035000

[16937700 rows x 5 columns]

In [41]:
print(np.array_equal(data_his['speed'].values.reshape(-1, 325), df.values))

True

In [49]:
data_his = data_his[['speed', 'timeinday', 'speed_y']].values
data_his = data_his.reshape(-1, 325, 3)

print('generate METR-LA PLUS over', data_his.shape)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices